body {
    font-family: 'Open Sans', 'Clear Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

b, strong {
    font-weight: bold;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 300px;
    color: #364149;
    background: #fafafa;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    list-style: none;
}

.sidebar > ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li.parent > ul {
    padding-left: 20px;
}

.sidebar a:hover,
.sidebar a.active {
    color: rgb(0, 140, 255);
    ;
}

.sidebar li a {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-bottom: 0;
    color: #364149;
    background: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.doc {
    left: 300px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    color: #000;
    background: #fff;
}
.doc > .header {
    line-height: 50px;
    height: 50px;
    position: absolute;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.doc > .body {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
}


.doc > .header .fa{
  cursor: pointer;
  color:#ccc;
  user-select: none;
}

.doc > .header .fa:hover{
  color:#444;
}

.doc .header >div {
  display:inline-block;
  margin-right: 15px;
}

.doc .markdown {
    position: absolute;
    bottom: 0;
    top: 0;
    padding: 0;
    width: 50%;
    margin: 0;
}

.doc .markdown > textarea{
  border: none;
  border-right:3px solid #f6f6f6;
  resize: none;
  outline: none;
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
  margin:0;
  padding:10px;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  box-sizing: border-box;
}

.doc .preview {
    position: absolute;
    bottom: 0;
    overflow: auto;
    top: 0;
    right: 0;
    width: 100%;
    padding:10px;
    box-sizing: border-box;
}

.doc .preview > div {
  max-width: 80%;
  margin: auto;
}

.half{
  width:50% !important;
}

.full{
  width:100% !important;
}

.sidebar-toggle{
  width:0;
}

.doc-toggle{
  left:0;
}

.animation-transition{
  transition: 0.35s;
}

.sidebar-folder{
  margin-right:6px;
}
