.default-theme table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}

.default-theme th {
    text-align: left;
}

.default-theme table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.default-theme table th,
.default-theme table td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #ddd;
}
