<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/moc.css">
</head>

<body>
<div class="sidebar">
    <ul>
        <li class="parent" v-for="item in catalog.Children">
            <a href="javascript:void(0);">
                <b>1.</b>{{item.Name}}
            </a>
            <ul v-if="item.Children">
                <li v-for="subItem in item.Children">
                    <a href="javascript:void(0);">
                        <b>1.1.</b> {{ subItem.Name }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="content">
    adf
</div>

<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/vue.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
