<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/moc.css">
    <link rel="stylesheet" href="/css/themes/default.css">
</head>
<body>
<div class="sidebar">
    <script type="text/x-template" id="item-template">
        <ul v-if="model.Children">
            <li class="parent" v-for="item in model.Children">
                <a class="doc-link" href="javascript:void(0);" v-on:click="loadDoc($event,item.Path)">
                    {{item.Name}}
                </a>
                <tree :model="item"></tree>
            </li>
        </ul>
    </script>
    <tree :model="catalog"></tree>
</div>
<div class="doc">
    <div class="preview default-theme" v-html="doc | marked"></div>
</div>

<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/vue.min.js"></script>
<script type="text/javascript" src="/js/marked.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
